<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Índice</title>
    <!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='/logica/fuzzy-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/logica/logica.js') }}"></script>
</head>
<body>
    <div>
        <div class="d-flex justify-content-between">
            <h1>Pregunta de reflexión</h1>
        </div>
        <div>
            <img src="static/Stonehenge.jpg" class="rounded mx-auto d-block img-fluid text-center" alt="">
        </div>
        <!-- <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p> -->
        <p style="font-size:120%;"> Imagine un periodo de la historia de la humanidad; el periodo y lugar elegidos se dejan a su preferencia.
            Ahora piense que usted se encuentra en esa misma época.
            ¿Cómo se ve usted en este periodo? ¿Cuáles serían las dificultades que se tendría que enfrentar a comparanción de la edad contemporánea en la que vive?
            ¿Cómo cree que el entorno de esta época pasada afectaría a su identidad, en contraste con la persona que es usted en estos momentos?
        </p>
    </div>
    <div class="text-center">
        <textarea id="textoApertura" name="textoApertura" rows="15" cols="100" style="resize:none;"></textarea>
    </div>
    <div class="text-center">
        <button class="btn btn-success" onclick="personTextJS()">Empezar</button>
    </div>
</body>
</html>