servidor_history/static/fotos_1/
servidor_history/static/fotos_2/
servidor_history/static/fotos_3/
servidor_history/static/Historia.jpg
static/fotos_1/
static/fotos_2/
static/fotos_3/
static/Historia.jpg
persontext_lstmsimple_apertura.h5
servidor_history/persontext_lstmsimple_apertura.h5
venv
servidor_history/venv
datos_dicc.json
servidor_history/datos_dicc.json
nombres
servidor_history/nombres